html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

.footer{
    padding: 5% 25%;
    background-color: var(--barva);
}

.footer__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 0;

}

.footer__box{
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.footer__icon,
.footer__data{
    color: #ffff;
}

.footer__box .footer__data{
    flex: 100%;
}

.footer__icon{
    font-size: 1.5rem;
    text-align: right;
}

.footer__data{
    text-align: center;
}

.footer__sign{
    color: #ffff;
    text-align: center;
    padding: 5px;
}

